extends layout


block content
  .documentation-container.section-header
    .row.section-header
      .column-8.push-2.details-container
        .row.section-header
          .column-12.centered
            h1.top-title
              | svg-filter
            h4
              a(href="https://github.com/mathisonian/svg-filter")
                | View on Github
                
        .row
          .column-12.centered
            #penrose
              include ../images/penrose.svg
            
            .row
              .column-8.push-2
                p
                  | Try clicking on the triangle above. Each time
                  | you click a new filter is randomly generated and
                  | applied to the svg.
            //- h6
              | (click me)
              //- | By 
              //- a(href="https://github.com/mathisonian")
              //-   | @mathisonian
                
        

              
        .row.section-header
          .column-12.centered.section-header
            h2
              | Installation
              
        .row
          .column-8.push-2
            pre
              code.
                $ npm install svg-filter
                
        .row.section-header
          .column-12.centered
            h2
              | Introduction
              
        .row
          .column-8.push-2        
            p
              | This library makes it easy to work with SVG filters. The API is
              | designed to look familiar to d3.js users.
            p
              | Several of the following examples are re-implementations or slight modifications
              | of examples from  
              a(href="https://www.smashingmagazine.com/2015/05/why-the-svg-filter-is-awesome/")
                | this article on smashing magazine by Dirk Weber
              | .
            p
              | This library exposes all filter types available in the svg spec. 
              | For more detailed documentation on that see 
              a(href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element/filter")
                | https://developer.mozilla.org/en-US/docs/Web/SVG/Element/filter
              | .
              
            p
              | Now with that out of the way, let's make our first filter:


        .row.section-header
          .column-12.centered
            h2
              | Blur
              
        
        .row
          .column-8.push-2
            .row
              .column-4.centered
                h4
                  | Without Filter
                .left.svg-example-1
              .column-4.centered
                  h4
                    | With Filter
                  .right.svg-example-1
            
            .row
              .column-12
                pre
                  code
                    include ../js/examples/blur.js

        .row
          .column-8.push-2        
            p
              | Not all filters operate on their input in the same way.
              | For example, a filter can be used to generate turbulence
              | independent of the svg element it is filtering:

        .row.section-header
          .column-12.centered
            h2
              | Noise
              
        
        .row
          .column-8.push-2
            .row
              .column-4.centered
                h4
                  | Without Filter
                .left.svg-example-2
              .column-4.centered
                h4
                  | With Filter
                .right.svg-example-2
            .row
              .column-12
                pre
                  code
                    include ../js/examples/noise.js
                    
                    
                    
        .row
          .column-8.push-2        
            p
              | It is often useful to combine the output of 
              | two filter effects. In the next example I show 
              | how to combine the blur and noise effects by using 
              | "composite":

        .row.section-header
          .column-12.centered
            h2
              | Compositing Effects
              
      
        .row
          .column-8.push-2
            .row
              .column-4.centered
                h4
                  | Without Filter
                .left.svg-example-3
              .column-4.centered
                  h4
                    | With Filter
                  .right.svg-example-3
            .row
              .column-12
                pre
                  code
                    include ../js/examples/composite.js


        .row.section-header
          .column-12.centered
            h2
              | Flood, Offset, & Merge
        
        .row
          .column-8.push-2
            .row
              .column-4.centered
                h4
                  | Without Filter
                .left.svg-example-4
              .column-4.centered
                  h4
                    | With Filter
                  .right.svg-example-4
            .row
              .column-12
                pre
                  code
                      include ../js/examples/flood-offset-merge.js


        .row.section-header
          .column-12.centered
            h2
              | Convolution Matrix
        
        .row
          .column-8.push-2
            .row
              .column-4.centered
                h4
                  | Without Filter
                .left.svg-example-5
              .column-4.centered
                  h4
                    | With Filter
                  .right.svg-example-5
            .row
              .column-12
                pre
                  code
                    include ../js/examples/convolution.js
