extends layout


block content
  .documentation-container.section-header
    .row.section-header
      .column-8.push-2.details-container
        .row.section-header
          .column-12.centered
            h1.top-title
              | svg-filter
            h4
              a(href="https://github.com/mathisonian/svg-filter")
                | View on Github
            //- br
            //- h6
              | By 
              a(href="https://github.com/mathisonian")
                | @mathisonian

              
        .row.section-header
          .column-12.centered.section-header
            h2
              | Installation
              
        .row
          .column-8.push-2
            pre
              code.
                $ npm install svg-filter
                
        .row.section-header
          .column-12.centered
            h2
              | Introduction
              
        .row
          .column-8.push-2        
            p
              | This library makes it easy to work with SVG filters. The API is
              | designed to look familiar to d3.js users.
            p
              | The following examples are re-implementations or slight modifications
              | of examples from 
              a(href="https://www.smashingmagazine.com/2015/05/why-the-svg-filter-is-awesome/")
                | this article on smashing magazine by Dirk Weber
              | .
            p
              | This library exposes all filter types available in the svg spec. 
              | For more detailed documentation on that see 
              a(href="https://developer.mozilla.org/en-US/docs/Web/SVG/Element/filter")
                | https://developer.mozilla.org/en-US/docs/Web/SVG/Element/filter
              | .
            p
              em
                | For the duration of the article, assume the following 
                | functions are available:
              

            pre
              code.
                var d3 = require('d3');
                var SvgFilter = require('svg-filter');
                var size = 200;

                var makeRect = function (selector) {
                  return d3.select(selector)
                      .append('svg')
                          .attr('width', size)
                          .attr('height', size)
                        .append('rect')
                            .attr('width', size)
                            .attr('height', size)
                            .attr('fill', 'blue');
                };

        .row.section-header
          .column-12.centered
            h2
              | Blur
              
        
        .row
          .column-8.push-2
            .row
              .column-4.centered
                h3
                  | Without Filter
                .no-filter.svg-example-1
              .column-4.centered
                  h3
                    | With Filter
                  .filter.svg-example-1
            
            .row
              .column-12
                pre
                  code.
                    // draw two blue squares with d3.
                    // the makeRect function is defined above.
                    var noFilter = makeRect('.no-filter.svg-example-1')
                    var withFilter = makeRect('.filter.svg-example-1');

                    // Instantiate a new filter
                    var filter = new SvgFilter();

                    // Add a single blur element to the filter
                    // and set a parameter on the blur.
                    filter
                      .append('blur')
                          .attr('stdDeviation', 50);

                    // withFilter is just a d3.selection
                    // of the rectangle. this adds
                    // the filter to the rectangle on the
                    // right
                    withFilter
                        .attr('filter', filter);

        .row.section-header
          .column-12.centered
            h2
              | Noise
              
        
        .row
          .column-8.push-2
            .row
              .column-4.centered
                h3
                  | Without Filter
                .no-filter.svg-example-2
              .column-4.centered
                  h3
                    | With Filter
                  .filter.svg-example-2
            .row
              .column-12
                pre
                  code.
                    noFilter = makeRect('.no-filter.svg-example-2');
                    withFilter = makeRect('.filter.svg-example-2');

                    filter = new SvgFilter();

                    filter
                      .append('turbulence')
                          .attr('type', 'fractalNoise')
                          .attr('baseFrequency', 0.1)
                          .attr('numOctaves', 5)
                          .attr('seed', 2);
                          
                    withFilter
                        .attr('filter', filter);

        .row.section-header
          .column-12.centered
            h2
              | Image Fill
              
        
        .row
          .column-8.push-2
            .row
              .column-4.centered
                h3
                  | Without Filter
                .no-filter.svg-example-3
              .column-4.centered
                  h3
                    | With Filter
                  .filter.svg-example-3
            .row
              .column-12
                pre
                  code.
                    noFilter = makeRect('.no-filter.svg-example-3');
                    withFilter = makeRect('.filter.svg-example-3');


                    // Create an SVG pattern to
                    // feed into a 'tile' filter
                    var patternSVG = d3.select(document.createElement('div'))
                                      .append("svg")
                                          .attr('width', 100)
                                          .attr('height', 200);

                    var pattern = patternSVG
                      .append('defs')
                        .append('pattern')
                            .attr('id', 'pattern')
                            .attr('patternUnits', 'userSpaceOnUse')
                            .attr('width', 10)
                            .attr('height', 10);

                    pattern
                      .append('path')
                      .attr('d', 'M0,8.239V10h1.761L0,8.239z');

                    pattern
                      .append('path')
                      .attr('d', 'M5,0l5,5l0,0V3.238L6.762,0H5z');

                    pattern
                      .append('polygon')
                      .attr('points', '0,3.239 0,5 5,10 6.761,10 ');

                    pattern
                      .append('polygon')
                      .attr('points', '1.762,0 0,0 10,10 10,8.238 ');

                    filter = new SvgFilter();

                    
                    filter
                      // create the image filter component with the SVG as input
                      .append('image')
                          .attr('xlink:href', 'data:image/svg+xml;charset=utf-8,' + encodeURI(patternSVG.node().outerHTML) + )
                          .attr('x', 0)
                          .attr('y', 0)
                          .attr('width', 100)
                          .attr('height', 200)
                      // send the image component output to a tile component
                      .append('tile')
                      // sent the tile to composite
                      .append('composite')
                          .attr('operator', 'xor')
                          .in2('SourceGraphic');


                    withFilter.attr('filter', filter);




        .row.section-header
          .column-12.centered
            h2
              | Composite filter components
              
        
        .row
          .column-8.push-2
            .row
              .column-4.centered
                h3
                  | Without Filter
                .no-filter.svg-example-4
              .column-4.centered
                  h3
                    | With Filter
                  .filter.svg-example-4
            .row
              .column-12
                pre
                  code.
                    noFilter = makeRect('.no-filter.svg-example-4');
                    withFilter = makeRect('.filter.svg-example-4');

                    filter = new SvgFilter();
                    
                    var blurComponent = filter
                                          .append('blur')
                                              .attr('stdDeviation', 50);
                                              
                    var noiseComponent = filter
                                          .append('turbulence')
                                              .attr('type', 'fractalNoise')
                                              .attr('baseFrequency', 0.1)
                                              .attr('numOctaves', 5)
                                              .attr('seed', 2);
                    
                    // composite the two filter components
                    filter
                      .append('composite')
                          .in(blurComponent, noiseComponent);

                    withFilter
                        .attr('filter', filter);
